################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns_Tutorial/DesignPatterns_Tutorial/bin/Debug/netcoreapp2.2
